@model GestorDeTarefas.ViewModels.ColaboradorListViewModel

@{
    ViewData["Title"] = "AdicionarIdiomaColaborador";
}

<h1>Adicionar Idioma ao Colaborador</h1>

<div class="row">
    <div class="col">
        <form asp-action="AdicionarIdiomaColaborador">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ColaboradorId" />
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">
                            <label asp-for="NomeColaborador" class="control-label">Colaborador</label>
                        </th>
                        <th scope="col">Idiomas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <div class="form-group">
                                <input asp-for="NomeColaborador" class="form-control-plaintext" />
                                <span asp-validation-for="NomeColaborador" class="text-danger"></span>
                            </div>
                        </td>


                        @if (Model.Idiomas != null)
                        {
                            <td>
                                @for (int i = 0; i < Model.Idiomas.Count(); i++)
                                {
                                    <dd>
                                        @Html.EditorFor(m => Model.Idiomas[i].Checked)
                                        @Html.DisplayFor(m => Model.Idiomas[i].Name)
                                        @Html.HiddenFor(m => Model.Idiomas[i].Name)
                                        @Html.HiddenFor(m => Model.Idiomas[i].Id)
                                    </dd>
                                }


                            </td>

                        }
                    </tr>
                </tbody>
            </table>


            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>



</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}