
@{
    ViewData["Title"] = "Sobre Nós";

}

<h1>Sobre Nos</h1>
<p>
    Este gestor de projetos destina-se a empresas relacionadas com a area de construçao de novos carros e remodulaçao de casa.

</p>

    


<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Imagens/IPGuarda.jpg" alt="Card image cap">
        
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Imagens/estg.png" alt="Card image cap">
        
    </div>
</div>

    <br>

    <p>Esta pagina apresenta também os elementos que realizaram este trabalho.</p>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/Imagens/Joao Santos.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Identificaçao</h5>
                <p class="card-text">João Santos</p>
                <p class="card-text">Nº 1700005 </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Imagens/Andre Lameiras.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Identificaçao</h5>
                <p class="card-text">André Lameiras</p>
                <p class="card-text">Nº 1700017 </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Imagens/Carlos Cruz.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Identificaçao</h5>
                <p class="card-text">Carlos Cruz</p>
                <p>Nº1701062 </p>
            </div>
        </div>
    </div>

    <br>


