
@{
    ViewData["Title"] = "Sobre Nós";
    
}

<h1>Sobre Nos</h1>
<p>Este gestor de projetos destina-se a empresas relacionadas com a área de vendas.
    Sejam elas vendas de produtos alimentares, produtos informáticos, produtos automóveis entre outros.</p>

<p>Esta pagina apresenta também os elementos que realizaram este trabalho.</p>

<p>João Santos Nº1700005</p>
<p>André Lameiras Nº1700017</p>
<p>Carlos Cruz Nº1701062</p>

