@{
    ViewData["Title"] = "Contacto do Suporte";
}

<h1 class="text-center">Contacto do Suporte</h1>

<br /><h3 class="text-black-50 text-center">Tem perguntas? Adoraríamos ajudar </h3>

<p style="text-align:center;">
    <a class="text-black" asp-area="" asp-controller="Home" asp-action="Helper-Center">Centro de Ajuda</a>
</p><br />

<br />
<p style="text-align:center; color:black;">
    Estamos sempre aqui para ajudá-lo com qualquer dúvida ou problema que você tenha sobre o ProofHub.
    Envie o formulário abaixo e entraremos em contato com você assim que possível.</p>
</p><br />



