@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <h1 class="display-5 text-black text-xl-center">Bem-vindo ao nosso Gestor de Projetos!</h1>
    <p></p>
    <h5 class="text-center">Dos pequenos detalhes ao panorama completo, o nosso Gestor de projetos organiza todo o trabalho para que as equipas saibam o que deve ser feito, qual é a importância das atividades e a melhor maneira de as realizar.</h5>

    <p></p>

    <div class="image">
        <center>
            <img src="C:\Users\Lameiras\Desktop\gestorProjeto_manager.png"
                 width="600" height="406">
        </center>
    </div>

    <div style="background-color: #beedec;" class="widget-cards__header">
        <section class="widget-cards widget-cards--theme-default ">
            <h2 class="text-dark text-center">    Impulsione as margens e satisfaça todos os clientes</h2>

            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <p>

    </p>
    <div class="justify-center " style="background-color: #9a9c9b;">
        <div class="max-width-4 col-12 huge line-height-5">
            <h1 class="mb2 display huge strong">
                Olanduvbivaeve
            </h1>
            <div class="max-width-3">
                <p class="mb2 quiet">Airtable was founded on the belief that software shouldn’t dictate how you work—you should dictate how it works. The real-time collaborative Airtable platform empowers people to design a near-infinite number of useful apps of their own, without ever having to learn how to code. From collaborative editorial planning, to managing global marketing campaigns, to powering the entire back office of an organization, Airtable is empowering non-technical workers from all walks of life to rethink decades-old business practices in every industry imaginable.</p><p class="mb2 quiet">The flexibility of Airtable enables a range of sensitive and mission-critical use cases. As such, we consider privacy and security to be core functions of our platform, as well as foundational requirements for all new feature development. Earning and keeping the trust of our users is our top priority, so we hold ourselves to the highest privacy and security standards.</p>


            </div>
        </div>
</div>
            