@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-2 mb-lg-7">
                <h1 class="display-5">Bem-vindo ao nosso Gestor de Projetos!</h1>
                <p></p>

                <h5>Dos pequenos detalhes ao panorama completo, o nosso Gestor de projetos organiza todo o trabalho para que as equipas saibam o que deve ser feito, qual é a importância das atividades e a melhor maneira de as realizar.</h5>

            </div>

            <div class="col-lg-9 mb-2 mb-lg-7">
                <div class="widget-intro__col-image">
                    <img src="C:\Users\Lameiras\Desktop"
                         width="600" height="406">
                </div>
            </div>

        </div>
    </div>

            