@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <h1 class="display-5 text-black text-xl-center">Bem-vindo ao nosso Gestor de Projetos!</h1>
    <p></p>
    <h5 class="text-center">Dos pequenos detalhes ao panorama completo, o nosso Gestor de projetos organiza todo o trabalho para que as equipas saibam o que deve ser feito, qual é a importância das atividades e a melhor maneira de as realizar.</h5>

    <p></p>

    <div class="image">
        <center>
            <img src="~/Imagens/gestorProjeto_manager.png"
                 width="1070" height="406">
        </center>
    </div>

    <div style="background-color: #beedec;" class="widget-cards__header">
        <section class="widget-cards widget-cards--theme-default ">
            <h2 class="text-dark text-center">Impulsione as margens e satisfaça todos os clientes</h2>
            <p></p>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="~/Imagens/talent.png" alt="Card image cap" width="25" height="170">
                    <div class="card-body">
                        <h5 class="card-title">Aumente a receita rapidamente</h5>
                        <p class="card-text">Forneça mais valor com mais rapidez usando a mesma equipe. Maximize o trabalho faturável ao eliminar tarefas passíveis de repetição.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Imagens/satisfação-do-cliente-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Eleve a satisfação do cliente</h5>
                        <p class="card-text">Fascine seus clientes com transparência total de projetos, atualizações em tempo real e relatórios informativos.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Imagens/lista-de-controle-1.png" alt="Card image cap" width="25" height="170">
                    <div class="card-body">
                        <h5 class="card-title">Aumente a retenção</h5>
                        <p class="card-text">Mantenha a fidelidade dos clientes ao fazer entregas dentro do prazo, do orçamento e do escopo. Sempre.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <p>

    </p>

    <div style="background-color: #0082d9;" class="widget-cards__header">
        <section class="widget-cards widget-cards--theme-default ">
            <div class="max-width-4 col-12 huge line-height-5">
                <h1 class="mb2 display huge strong text-center">
                    Novo Gestor de Projetos! Desafiando os limites.
                </h1>
                <p>    </p>
                <div class="max-width-3">
                    <p class="mb2 quiet">
                        Tenha um só integrante ou um milhão em sua equipe, o novo plano Wrike Free está pronto para ajudar a elevar o nível da colaboração e da gestão de trabalho.
                        Inscreva-se no Gestor de Projetos hoje e comece a fazer mais do que faz melhor.
                    </p>
                </div>
            </div>
        </section>
    </div>


    <p>

    </p>

    <div style="background-color: #c0c3c4;" class="widget-cards__header">
        <section class="widget-cards widget-cards--theme-default ">
            <div class="feature-quote__image"></div>
            <div class="feature-quote__container">
                <div class="feature-quote__text">Garantir uma única fonte de dados para informações e comunicação permite que a liderança permaneça por dentro de tudo o que acontece e que um novo membro da equipe integre-se rapidamente. Isso reduz o risco de que tarefas passem despercebidas.</div>
                <div class="feature-quote__footer">
                    <p></p>
                    <div class="feature-quote__author">Shaun Carlson, diretor de P&amp;D e continuidade de inovação, Arvig</div>
                </div>
            </div>
        </section>
    </div>


    <p>

    </p>

    <div style="background-color: #0097fc; " class="widget-cards__header">
        <section class="widget-cards widget-cards--theme-default ">
            <div class="justify-center" style="background-color: #0097fc;">
                <h2 class="m-1 display huge strong text-center">
                    O futuro acontece aqui
                </h2>
                <a class="text-black" asp-area="" asp-controller="Home" asp-action="Blog">
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Experimente gratuitamente</button>
                </a>
            </div>
        </section>
    </div>
</div>