
@{
    ViewData["Title"] = "InformacaoSegura";
}

<h1>Informacão Segura</h1>

<p>
    Neste Gestor de Projetos, a segurança de seus dados é nossa prioridade.
    E não deixamos pedra sobre pedra para garantir que todas as informações que vão para o ProofHub permaneçam completamente seguras.
    Empregamos tecnologia de ponta para manter altos padrões de segurança de dados e garantir que suas informações estejam seguras, comunicações seguras e negócios protegidos.
</p>

<h2>Protegendo seus dados</h2>

<p>
   Enquanto se concentra no seu trabalho, este Gestor de Projetos protege os seus dados, salvando-os em servidores confiáveis ​​que fazem uso de técnicas modernas. 
   Os seus dados são gravados em vários discos e armazenados em vários locais para remover até mesmo o menor ponto de falha, se houver.
</p>

<h3>Transmissão 100% segura</h3>

<p>
    Para proteger os seus dados quando eles viajam do seu navegador para os centros de dados do Gestor de Projetos e vice-versa, a conexão é criptografada por padrão usando SSL.
    Este é o maior nível de segurança oferecido, igual ao dos bancos, que não deixa margem para erros ou transmissão insegura.
</p>

