
@{
    ViewData["Title"] = "Politica de Privacidade";
}

<h1>Politica de Privacidade</h1>

<p>
    Para proteger suas informações pessoais, tomamos precauções razoáveis e seguimos as melhores práticas da indústria para nos certificar que elas não serão perdidas inadequadamente, usurpadas,
    acessadas, divulgadas, alteradas ou destruídas.<br />
    Se você nos fornecer as suas informações ela será criptografada usando tecnologia "secure socket layer" (SSL) e será armazenada numa base de dados.
    Embora nenhum método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro,
    nós seguimos todos os requisitos necessario para manter a sua informação segura.
</p>

