
@{
    ViewData["Title"] = "Politica de Privacidade";
}


<h1>Politica de Privacidade</h1>

<p>
    <h3>Encriptação</h3>
    Para proteger suas informações pessoais, tomamos precauções razoáveis e seguimos as melhores práticas da indústria para nos certificar que elas não serão perdidas inadequadamente, usurpadas,
    acessadas, divulgadas, alteradas ou destruídas.<br />
    Se você nos fornecer as suas informações ela será criptografada usando tecnologia "secure socket layer" (SSL) e será armazenada numa base de dados criptografada.
    Embora nenhum método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro,
    nós seguimos todos os requisitos necessario para manter a sua informação segura.
</p>

<p>
    <h3>Identidade e acesso</h3>
    Pedimos seu nome, telefone e endereço de e-mail quando você se inscreve no Gestão de Projetos. Suas informações pessoais nunca serão vendidas a terceiros e não usaremos seu nome sem sua permissão.
    Quando você entra em contato com o Gestão de Projetos com uma pergunta ou para pedir ajuda, guardamos o endereço de e-mail e a correspondência para referência futura.<br />
    Os usuários do Gestão de Projetos podem armazenar qualquer tipo de informação no Gestão de Projetos, mas o Gestão de Projetos não acessa ou compartilha esses dados e não sabe que tipo de dados você ou outros usuários
    estão armazenando. Os dados são usados ​​apenas pelo proprietário da conta e usuários convidados, conforme pretendem usá-los.<br />
    As únicas vezes em que compartilharemos suas informações é para investigar, prevenir ou tomar medidas em relação a atividades ilegais, suspeita de fraude, situações envolvendo possíveis
    ameaças à segurança física de qualquer pessoa, grupo, lugar, região, nação, etc., violações de nossos Termos de Serviço, ou conforme exigido por lei.

</p>

<p>
    <h3>Aplicação da lei</h3>
    Embora possamos ser obrigados a divulgar suas informações pessoais em resposta a uma solicitação legal de autoridades públicas, incluindo para atender aos requisitos de segurança nacional ou de aplicação da lei,
    o Gestão de Projetos não entregará seus dados às autoridades policiais, a menos que um mandado diga que temos de fazê-lo.<br /> Rejeitamos categoricamente as solicitações das autoridades locais e federais quando buscam 
    dados sem um mandado. E, a menos que sejamos legalmente impedidos, sempre o informaremos quando tais solicitações forem feitas.


</p>