@{
    ViewData["Title"] = "Projetos";

}

<h1>Modelos de Projetos</h1>

<h3>Templates mais populares</h3>

<p>
    Comece a produzir mais rapidamente com um template da comunidade do Gestor de Tarefas
</p>



<div class="card-group">
    <div class="card">
        <a asp-controller="SistemaProdutividades" asp-action="Index" class="btn">
                <img class="card-img-top" src="~/Imagens/images.png" alt="Card image cap"> 
                <h5 class="card-title">Sistema de Produtividade Pessoal</h5>
         </a>
    </div>
    <div class="card">
        <a asp-area="" asp-controller="ProjetoSprintDesigns" asp-action="Index" class="btn"> 
            <img class="card-img-top" src="~/Imagens/images-_2_.png" alt="Card image cap">
            <h5 class="card-title">Sprint de Design</h5>
        </a>
    </div> 
     
    
</div>
