
@{
    ViewData["Title"] = "Termos e Condições";
}
<div style="margin-bottom:485px;">
<h1>Termos e Condições</h1>

<p>
    Ao usar o site Gestão de projetos consente a utilização de cookies de acordo com a política de privacidade deste site.
    As cookies são usadas em algumas áreas do nosso site para permitir a funcionalidade desta área e facilitar a utilização dos visitantes.
</p>
</div>
