@model GestorDeTarefas.Models.Cidade

@{
    ViewData["Title"] = "Cidade Details";
}

<h1>Detalhes das Cidades</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_Cidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CidadeId" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar à lista</a>
</div>
