@model GestorDeTarefas.Models.SistemaProdutividade

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Projeto</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SistemaProdutividadeId" />
            <div class="form-group">
                <label asp-for="NomeProjeto" class="control-label"></label>
                <input asp-for="NomeProjeto" class="form-control" />
                <span asp-validation-for="NomeProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPrevistaInicio" class="control-label"></label>
                <input asp-for="DataPrevistaInicio" class="form-control" />
                <span asp-validation-for="DataPrevistaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDefinitivaInicio" class="control-label"></label>
                <input asp-for="DataDefinitivaInicio" class="form-control" />
                <span asp-validation-for="DataDefinitivaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPrevistaFim" class="control-label"></label>
                <input asp-for="DataPrevistaFim" class="form-control" />
                <span asp-validation-for="DataPrevistaFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDefinitivaFim" class="control-label"></label>
                <input asp-for="DataDefinitivaFim" class="form-control" />
                <span asp-validation-for="DataDefinitivaFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>

