<div class="card border-success">
    <div class="card-body">
        <h5 class="card-title text-success">@ViewBag.Nome</h5>
        <p class="card-text lead">@ViewBag.Message</p>
        <a class="btn btn-primary" asp-action="Index">Projetos</a>
    </div>
</div>
