@model GestorDeTarefas.Models.Idioma

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Idioma</h1>

<div>
    <h4>Idioma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeIdioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeIdioma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdiomaId" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
