<div style="margin-bottom:230px; text-align:center">
    <div class="card border-success">
        <div class="card-body">
            <h5 class="card-title text-success">@ViewBag.Title</h5>
            <p class="card-text lead">@ViewBag.Message</p>
            <img src="~/Imagens/feliz.jpg" alt="Card image cap" style="width:235px; height:200px">
        </div>
        <a class="btn btn-success" asp-action="Index">Ver Cargos</a>
    </div>
</div>